
.loaderContainer{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, .3);
}
.innerLoaderContainer{
    position: relative;
    height: 20vh;
    width: 20vh;
    max-width: 20rem;
    max-height: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    display: grid;
    place-items: center;
}
.innerLoaderContainer::after{
    content: "LOADING";
    position: absolute;
    color: var(--dark-red);
}
.loader{
    width: 90%;
    aspect-ratio: 1/1;
    border-top: 3px solid var(--dark-red);
    border-radius: 50%;
    animation: loader 1s linear infinite;
}


@keyframes loader{
    0% {
        transform: rotateZ(0) ;
    }
    100% {
        transform: rotateZ(360deg) ;
    }
}